body {
    font-family: Roboto;
    color: #212121;
}

* {
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}

.logo {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: black;
    text-decoration: none;
}

.first__style {
    color: #2196F3
}

.address {
    display: flex;
    flex-direction: column;
}

.address__logo {
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: #2196F3;
    text-decoration: none;
    margin-top: 60px;
    margin-bottom: 28px;
}

.address__second-logo {
    color: white;
}

.unstyled-list {
    list-style: none;
}

.right-side-style {
    display: inline-flex;
    flex-direction: row-reverse;
    gap: 10px;
    fill: #757575;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-block__grid .navigation-block__link-style {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.right-navigation__grid .navigation-block__link-style {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-block__link-style:hover {
    fill: #2196F3;
    color: #2196F3;
}

.navigation-block__link-style {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    font-style: normal;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.buttons__active {
    background: #F5F4FA;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    padding: 6px 22px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    border: none;
    cursor: pointer;
    transition: background, color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.buttons__active:hover {
    color: #F5F4FA;
    background: #2196F3;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

.card__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: #212121;
    margin: 20px 24px 0px 24px;
}

.card__text-overlay {
    padding-top: 70px;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.card__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: #757575;
    margin: 4px 24px 20px 24px;
}

.footer-section {
    background: #2F303A;
}

.adress-style {
    color: #FFFFFF;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.adress-style:hover {
    color: #2196F3;
}

.projects-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-between;
}

/* Portofolio */
.section {
    padding-top: 94px;
    padding-bottom: 94px;
    
}

.container {
    width: 1200px;
}


.header-container {
    display: flex;
    align-items: center;
}

.header-section {
    display: flex;
    width: 100%;
    justify-content: center;
    height: 80px;
    border-bottom: 1px solid #ECECEC;
}

.navigation-block {
    display: flex;
    flex-grow: 1;
}

.navigation-block__grid {
    display: flex;
    gap: 50px;
    padding-left: 94px;
    flex-grow: 1;
    align-items: center;
}

.right-navigation__grid {
    display: flex;
    gap: 40px;
    align-items: center;
}



.buttons {
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: space-around;
    margin: 0px 327px;
    padding-bottom: 50px;
}

.project-main-section {
    display: flex;
    justify-content: center;
}

.project-list-section {
    display: flex;
}

.card__border {
    box-sizing: border-box;
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    border-top: 0;
    padding-top: 0;
    z-index: 1;
}

/* Footer Section*/
.footer-section {
    display: flex;
    justify-content: center;
}

.footer-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.addres-list {
    gap: 12px;
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-vect__title {
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-bottom: 20px;
}

.vectorial-pic {
    display: flex;
    gap: 10px;
}

.footer-vect {
    padding-left: 94px;
    display: flex;
    flex-direction: column;
    height: 80px;
}

/* Studio Style*/
.efective-section {
    height: 600px;
    image-resolution: inherit;
    background-size: cover;
    background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.1)),
        linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.1)),
        url(../Images/backgroundphoto.jpg);
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
}

.efective-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.efective-section__title {
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.efective-section__request-button {
    border: none;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    padding: 10px 19px 10px 20px;
    margin-top: 30px;
}

.abilities-section {
    display: flex;
    justify-content: center;
}

.abilities-container {
    display: flex;
    flex-direction: column;
}

.abilities-grid {
    display: flex;
    gap: 30px;
    justify-content: space-around;
}

.abilities {
    width: 270px;
}

.abilities__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
}

.abilities__description {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #757575;
}

.what-we-do-section {
    display: flex;
    justify-content: center;
    margin-bottom: 94px;
}

.what-we-do-container {
    display: flex;
    flex-direction: column;
}

.work-grid {
    display: flex;
    gap: 30px;
    justify-content: space-around;
}

.what-we-do-section__title {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.our-team-section {
    display: flex;
    background: #F5F4FA;
    justify-content: center;
}

.our-team-container {
    display: flex;
    flex-direction: column;
}

.our-team-section__title {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.team {
    display: flex;
    gap: 30px;
    justify-content: space-around;
}

.team__name {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 10px;
}

.team__occupation {
    display: flex;
    justify-content: center;
    color: #757575;
}

/* HOMEWORK 4*/
.abilities-section__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 120px;
    background: #F5F4FA;
}

.abilities-section__vector {
    display: flex;
    justify-content: space-around;
    padding-bottom: 30px;
    gap: 30px;
}

.our-team-vectorial {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}

.team-vectorials-grid {
    display: flex;
    align-items: center;
    width: 206px;
    justify-content: space-around;
    margin-top: 16px;
}

.team-vectorials-grid__svg {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 44px;
    height: 44px;
    fill: #AFB1B8;
    transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-vectorials-grid__svg:hover {
    fill: white;
    background: #2196F3;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.vectorial-pic__color {
    fill: white;
}

.regular-customer-section {
    display: flex;
    justify-content: center;
}

.regular-customer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.customer-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.customer-logo__item {
    width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customer-logo__svg {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customer-logo__svg:hover {
    fill: #2196F3;
}

.customer-logo__item:hover {
    border-color: #2196F3;
}

.regular-customer-section__title {
    padding-bottom: 50px;
}

.customer-logo__link {
    fill: #AFB1B8;
}

.team__item {
    width: 270px;
    left: 515px;
    top: 1785px;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}



.card:hover {
    cursor: pointer;
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.vectorial-pic__svg {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.vectorial-pic__svg:hover {
    width: 44px;
    height: 44px;
    background: #2196F3;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* HOMEWORK 5*/
.work-grid__description {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 370px;
    height: 70px;
    background: rgba(47, 48, 58, 0.8);
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    position: absolute;
    bottom: 4px;
}

.work-grid__item {
    position: relative;
}

.navigation-block__bottom-border {
    position: relative;
}

.navigation-block__bottom-border:focus {
    color: #2196F3;
}

.navigation-block__bottom-border:hover {
    color: #2196F3;
}

.navigation-block__bottom-border::after {
    content: '';
    border: 2px solid #2196F3;
    width: 100%;
    position: absolute;
    bottom: -32px;
    border-radius: 2px;
    visibility: visible;
    left: 0;
}

.card {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    height: 404px;
    transition: box-shadow 1000ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card__overlay {
    height: 294px;
    width: 370px;
    position: absolute;
    background: rgba(33, 150, 243, 0.9);
    transform: translateY(101%);
    transition: transform 250ms linear;
}

.card:hover .card__overlay {
    transform: translateY(0px);
}

.modal-section {
    background: rgba(0, 0, 0, 0.2);
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-container {
    position: absolute;
    width: 528px;
    height: 581px;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    display: flex;
    justify-content: center;
}

.is-hidden {
    visibility: hidden;
    opacity: 0;
}

/* HOMEWORK 6*/
.modal-close-button {
    fill: #000000;
    display: flex;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 9px 9px 10px 10px;
    position: absolute;
    right: 8px;
    top: 8px;
}

.modal-close-button:hover {
    fill: #2196F3;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
}

.modal-form {
    display: flex;
    flex-direction: column;
    width: 448px;
    margin-top: 40px;
}

.modal-button__style {
    width: 200px;
    height: 50px;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
}

.label {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    gap: 4px;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: #757575;
}

.modal-form__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

.label-container {
    position: relative;
}

.label__svg {
    position: absolute;
    top: 50%;
    transform: translateY(50%);
    left: 12px;
}

.label__input {
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    line-height: 40px;
    padding-left: 27px;
    outline: none;
    cursor: pointer;
}

.label-container input:focus {
    border-color: #2196F3;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.label-container input:focus+svg {
    fill: #2196F3;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}

.textarea-modal-style {
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    height: 120px;
    padding-top: 12px;
    padding-left: 16px;
    outline: none;
    cursor: pointer;
}

.textarea-modal-style:focus {
    border-color: #2196F3;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
}

.checkbox__replace {
    width: 16px;
    height: 15px;
    border: 1px solid black;
    border-radius: 2px;
}

.modal-form input[type="checkbox"]:checked+.checkbox__replace {
    background: #2196F3;
    border-color: #2196F3;
}

.terms svg {
    position: static;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-form input[type="checkbox"]:checked+.checkbox__replace svg {
    background: #2196F3;
    border-color: #2196F3;
    opacity: 1;
    fill: white;
}

.checkbox__hide {
    display: none;
}

.checkbox__terms-style {
    color: #2196F3;
}

.newsletter {
    align-items: flex-end;
    display: flex;
    padding-left: 93px;
}

.newsletter__text {
    display: flex;
    flex-direction: column;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    gap: 20px;
}

.newsletter__button {
    width: 200px;
    height: 50px;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    display: flex;
    align-items: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    gap: 25px;
    padding-left: 43px;
}

.newsletter__input {
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background: none;
    margin-right: 12px;
    padding-left: 12px;
}