@import "../utils/variables";

.header-section {
    display: flex;
    width: 100%;
    justify-content: center;
    height: 80px;
    border-bottom: 1px solid #ececec;
}
.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: black;
    text-decoration: none;
    &__style {
        color: #2196f3;
    }
}
.navigation-block {
    display: flex;
    flex-grow: 1;

    &__grid .unstyled-list {
        display: flex;
        gap: 50px;
        padding-left: 94px;
        flex-grow: 1;
        align-items: center;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color: #212121;
        text-decoration: none;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    &__bottom-border {
        position: relative;
        &:focus {
            color: #2196f3;
        }
        &:hover {
            color: #2196f3;
        }
        &::after {
            content: "";
            border: 2px solid #2196f3;
            width: 100%;
            position: absolute;
            bottom: -32px;
            border-radius: 2px;
            visibility: visible;
            left: 0;
        }
    }
    &__link-style {
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color: #757575;
        text-decoration: none;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        &:hover {
            fill: #2196f3;
            color: #2196f3;
        }
        &.right-side-style {
            display: inline-flex;
            flex-direction: row-reverse;
            gap: 10px;
            fill: #757575;
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    }
    .right-navigation__grid {
        display: flex;
        gap: 40px;
        align-items: center;
    }
    @media screen and (min-width: 768px) {
        .right-navigation__grid {
            flex-direction: column;
            gap: 10px;
            align-items: flex-start;
        }
    }
    @media screen and (min-width: 1199px) {
        .right-navigation__grid {
            flex-direction: row;
        }
    }
}