@import "../utils/variables";

.abilities-section {
    display: flex;
    justify-content: center;
    & .section {
        padding-top: 94px;
        padding-bottom: 94px;
    }
    &__vector {
        display: flex;
        justify-content: space-around;
        padding-bottom: 30px;
        gap: 30px;
        flex-wrap: wrap;
    }
    &__item {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 120px;
        background: #f5f4fa;
    }
}
.abilities-container {
    display: flex;
    flex-direction: column;
    & .container {
        width: 1200px;
    }
}
.abilities-grid {
    display: flex;
    gap: 30px;
    justify-content: space-around;
    flex-direction: column;
}
.abilities {
    &__title {
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #212121;
        display: flex;
        justify-content: center;
    }
    &__description {
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.03em;
        color: #757575;
    }
}
@media screen and (min-width: 768px) {
    .abilities-grid {
        width: 354px;
    }
    .abilities-section__vector {
        flex-wrap: wrap;
    }
    .abilities__title {
        display: block;
    }
}
@media screen and (min-width: 1200px) {
    .abilities-section__item {
        width: 270px;
    }
    .abilities-section__vector {
        flex-wrap: nowrap;
    }
}