@import "../utils/variables";

.efective-section {
    height: 600px;
    image-resolution: inherit;
    background-size: cover;
    background-image: linear-gradient(
            to bottom,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.1)
        ),
        linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.1)),
        url(..//images/Background-M-480.png);
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    &__title {
        font-weight: 900;
        font-size: 44px;
        line-height: 60px;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: #ffffff;
    }
    & .container {
        width: 1200px;
    }
    &__request-button {
        border: none;
        background: #2196f3;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.06em;
        color: #ffffff;
        padding: 10px 19px 10px 20px;
        margin-top: 30px;
    }
}
.efective-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@media screen and (min-width: 768px) {
    .efective-section {
        background-image: linear-gradient(
                to bottom,
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.1)
            ),
            linear-gradient(
                to right,
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.1)
            ),
            url(..//images/Background-T-768.png);
    }
}
@media screen and (min-width: 1200px) {
    .efective-section {
        background-image: linear-gradient(
                to bottom,
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.1)
            ),
            linear-gradient(
                to right,
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.1)
            ),
            url(..//images/Background-D-1600.png);
    }
}
@media screen and (min-device-pixel-radio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .efective-section {
        background-image: linear-gradient(
                to bottom,
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.1)
            ),
            linear-gradient(
                to right,
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.1)
            ),
            url(..//images/Background-M-480-@2x.png);
    }
}
@media screen and (min-width: 768px) and (min-device-pixel-radio: 2),
    screen and (min-width: 768px) and (min-resolution: 192dpi),
    screen and (min-width: 768px) and (min-resolution: 2dppx) {
    .efective-section {
        background-image: linear-gradient(
                to bottom,
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.1)
            ),
            linear-gradient(
                to right,
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.1)
            ),
            url(..//images/Background-T-768-@2x.png);
    }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2),
    screen and (min-width: 1200px) and (min-resolution: 192dpi),
    screen and (min-width: 1200px) and (min-resolution: 2dppx) {
    .efective-section {
        background-image: linear-gradient(
                to bottom,
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.1)
            ),
            linear-gradient(
                to right,
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.1)
            ),
            url(..//images/Background-D-1600-@2x.png);
    }
}
@media screen {
}