@import "../utils/variables";

.our-team-section {
    display: flex;
    background: #f5f4fa;
    justify-content: center;
    &__title {
        display: flex;
        justify-content: center;
        margin-bottom: 50px;
    }
    & .section {
        padding-top: 94px;
        padding-bottom: 94px;
    }
}
.our-team-container {
    display: flex;
    flex-direction: column;
    & .container {
        width: 1200px;
    }
}
.team {
    display: flex;
    gap: 30px;
    justify-content: space-around;
    flex-wrap: wrap;
    & .unstyled-list {
        list-style: none;
    }
    &__item {
        width: 450px;
        left: 515px;
        top: 1785px;
        background: #ffffff;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
            0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
    }
    &__name {
        display: flex;
        justify-content: center;
        margin-top: 30px;
        margin-bottom: 10px;
    }
    &__accupation {
        display: flex;
        justify-content: center;
        color: #757575;
    }
}
.our-team-vectorial {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}
.team-vectorials-grid {
    display: flex;
    align-items: center;
    width: 206px;
    justify-content: space-around;
    margin-top: 16px;
    &__svg {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        width: 44px;
        height: 44px;
        fill: #afb1b8;
        transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
        &:hover {
            fill: white;
            background: #2196f3;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}
@media screen and (min-width: 768px) {
    .team__item {
        width: 354px;
    }
    .team {
        flex-wrap: wrap;
    }
}
@media screen and (min-width: 1200px) {
    .team__item {
        width: 270px;
    }
    .team {
        flex-wrap: wrap;
    }
}
@media screen and (min-width: 1200px) {
    .team__image {
        width: 270px;
    }
}