$colorBlue: #2196f3;
$main-color: #212121;
$colorWhite: white;
$main-grey-color: #757575;
$colorVectorial: #afb1b8;
$black-color: black;
$fontFamily: "roboto", sans-serif;
$secondFont: "Raleway";
$main-tranzition: cubic-bezier(0.4, 0, 0.2, 1);